body {
    text-align: center;
    
 
}

.pf { 
    
    padding: 20px;
    background-image: url(pozadi3.jpg);
    background-size: contain;
}



@keyframes barvasklenky {
    0% {fill:black;}
    80% {fill: gold;}
    100% {fill: goldenrod;}
  }
  
  #sklenka {
    animation: barvasklenky 50s 1 both linear;
  }

  @keyframes barvahvezdy {
    0% {fill:black;}
    50% {fill: gold;}
    100% {fill: goldenrod;}
  }

  #hvezda1 {
    animation: barvahvezdy 2s infinite both linear;
  }

  #hvezda2 {
    animation: barvahvezdy 5s infinite both linear;
  }

  #hvezda3 {
    animation: barvahvezdy 7s infinite both linear;
  }

 